$primary: #3b82f6;
$accent: #22c55e;
$background: #1F1F1F;
$surface: #1F1F1F;
$text: #ffffff;
$muted: #94a3b8;
$editor-bg: #2C5899;

Screen {
    background: $background;
    color: $text;
}

Horizontal {}
Vertical {}

#main {
    layout: vertical;
    height: 100%;
    width: 1fr;
    background: $background;
}

#sidebar {
    width: 35;
    background: #212529;
    border: none;
}

DirectoryTree {
    background: $surface;
    color: $text;
    scrollbar-gutter: stable;
    border: none;
    padding-top: 0;
    padding-left: 0;
}

DirectoryTree .folder {
    color: #22c55e;
    text-style: bold;
}

DirectoryTree .file {
    color: #60a5fa;
}

DirectoryTree .hidden {
    color: $muted;
    text-style: italic;
}

#input_area SearchBar,
#input_area Input {
    width: 100%;
}

.title {
    background: #454990;
    color: $text;
    text-style: bold;
    text-align: center;
}

#files {
    padding-top: 1;
    padding-left: 1;
    padding-right: 1;
}
ListView {}

ListItem {
    color: $text;
}

ListItem.--highlight {
    background: $primary;
    color: $background;
}

ListItem:focus {
    background: $accent;
    color: $background;
}

#editor{
    height: 1fr;
    width: 100%;
    margin-right: 0;
    border: none;
    padding: 1;
}

#input_area,
#search_container {
    height: auto;
    width: 100%;
    background: #262626;
    border-top: tall $muted;
    padding: 0 1;
}

#path_input {
    height: auto;
}

SearchBar {
    width: 100%;
    height: 4;
    display: none;
}

SearchBar.--visible {
    display: block;
}

#search_input {
    width: 1fr;
}

#replace_input {
    width: 1fr;
}

Input {
    background: $background;
    color: $text;
    border: tall $muted;
}

Input:focus {
    border: tall $accent;
}

#status {
    height: 1;
    background: $accent;
    color: $background;
    width: 100%;
    margin: 0;
    padding-left: 1;
}

#status.success {
    background: #22c55e;
}

#status.warning {
    background: #f59e0b;
}

#status.info {
    background: #0d6efd;
}

#status.error {
    background: #ef4444;
}


Header {
    background: $surface;
    color: $text;
}

Footer {
    background: #454990;
    color: $muted;
}

TextArea {
    background: $background;
    color: #d1d5db;
    scrollbar-gutter: stable;
}